{%- style -%}

{%- endstyle -%}

<div class="custom-text-section">
  <h2> upsell </h2>
  <div>upsell</div>
</div>

{% schema %}
  {
    "name": "Upsell",
    "settings": [
      {
        "id": "Upsell",
                "type": "text",
        "label": "Text box heading",
        "default": "Title"
      }
    ],
    "presets": [
      {
        "name": "Upsell",
        "category": "Custom"
      }
    ]
  }
{% endschema %}